h3:first-child{
    color: pink;
}
#greycol{
    color: grey;
}
.text-box>div>p {
    color: red;
}
p:nth-child(7){
    color: green;
}
.yellow{
    color: yellow;
}
ul{
    list-style: none;
}
.list{
    display: flex;
}
a{
    text-decoration: none;
}
.hover-link:hover{
    color: blueviolet;
}
.focus-link:focus{
    background-color: blue;
}
.link:link{
    background-color: green;
}
.visited-link:visited{
    color: red;
}
.active-link:active{
    background-color: aqua;
    color: blueviolet;
}
.tuesday li:last-child{
    background-color: blueviolet;
}
.wednesday li:nth-child(odd){ background-color:
    pink;
}
    .wednesday li:nth-child(even){
        background-color: yellow;
    }
    .thursday li:nth-child(3n){
        background-color: orange;
    } 

.friday li:nth-child(n+2){
    background-color: yellowgreen;
}